<section id="content">
  <%= form_for [:group, @student] do |f| %>
    <% if @student.errors.any? %>
      <div class="message error">
        <ul>
          <% @student.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <fieldset>
      <legend>Добавление студента в группу</legend>
      <div class="field">
        <%= f.label "ФИО студента" %>
        <%= f.text_field :fullname %>
      </div>
      <%= f.submit "Добавить студента в группу" %>
    </fieldset>
  <% end %>
</section>

<%= render partial: '/groups/sidebar' %>