<section id="content">
  <%= form_for [:group, @student] do |f| %>
    <%= f.errors %>
    <fieldset>
      <legend>Добавление студента в группу</legend>
      <div class="field">
        <%= f.label "ФИО студента" %>
        <%= f.text_field :fullname %>
      </div>
      <%= f.submit "Добавить студента в группу" %>
    </fieldset>
  <% end %>
</section>

<%= render partial: '/groups/sidebar' %>