<section id="content">
  <%= form_for @group do |f| %>
    <%= f.errors %>
    <fieldset>
      <legend>Добавление новой группы</legend>
      <div class="field">
        <%= f.label "Название группы (например ПЗ-10-1д)" %>
        <%= f.text_field :name %>
      </div>
      <%= f.submit "Добавить группу" %>
    </fieldset>
  <% end %>
</section>