<div class="active-session-item">
  <div class="clearfix">
    <div class="left">
      <h1><%= link_to session.test.title, session_register_path(session) %></h1>
    </div>
    <div class="right">
      <% unless session.secret_code.empty? %>
        <%= image_tag 'unlocked.png', title: t('.password_protected_hint') %>
      <% end %>
      <% if logged? && current_user.can?('useTests') %>
        <%= link_to image_tag('eye.png'), session_watch_path(session), title: t('.watch_hint') %>
      <% end %>
    </div>
  </div>
  <% user = session.user %>
  <div>Преподаватель: <%= user.try(:fullname) || user.try(:login) || 'неизвестен' %></div>
  <div>Группа: <%= session.group.try(:name) || 'неизвестна' %></div>
  <div>Время на прохождение: <%= session.time_per_student %> минут</div>
  <% if session.max_points > 0 %>
    <div>Макс. количество баллов за тест: <%= session.max_points %></div>
  <% end %>
  <div>
    Отключение через:
    <% if session.end_time.nil? %>
      неограниченно      
    <% else %>
     <%= distance_of_time_in_words(session.remains_in_sec) %>
    <% end %>
  </div>
  <% if session.description.present? %>
    <div>Описание сессии: <%= session.description %></div>
  <% end %>
</div>