<section id="content-full">
  <% if flash[:notice] %>
    <div class="message info"><%= flash[:notice] %></div>
  <% end %>
  <% if has_uncompleted_session? %>
    <p class="center-text">
      <span class="huge">
        Другая сессия, начатая на этом компьютере ещё не завершена 
        (<b><%= active_session.test_session.test.title %></b>).
        <br />
        <%= link_to "Продолжить", :start %> или
        <%= link_to "завершить", :end, method: 'get', confirm: "Вы уверены?" %>
      </span>
    </p>
  <% else %>
    <h1>Активные сессии</h1>
    <% if @active_sessions.count > 0 %>
      <%= render partial: 'session', collection: @active_sessions, as: :session %>
    <% else %>
      <p class="center-text big">В данный момент нет ни одной активной сессии</p>
    <% end %>
    <% if logged? && current_user.can?('useTests') %>
      <p class="center-text big"><%= link_to "Перейти к списку тестов", :tests %></p>
    <% end %>
  <% end %>
</section>