<span class="normal"><b><%= @attempt.student %> (<%= @attempt.test_session.group %>)</b></span>
<hr />
<% @questions.each do |qs| %>
  <p><b>Текст вопроса:</b> <%= qs.question.text %></p>
  <% if qs.is_answered %>
    <% case qs.correctness_level %>
    <% when 1.0 %>
      <p class="green bold">Был дан верный ответ</p>
    <% when 0.0 %>
      <p class="red bold">Был дан неверный ответ</p>
    <% else %>
      <p class="orange bold">Был дан частично верный ответ (<%= qs.correctness_in_percent %>%)</p>
    <% end %>
    <p><b>Ответил(а): </b><%= qs.answer %></p>
  <% else %>
    <p class="blue bold">На данный вопрос ещё нет ответа</p>
  <% end %>
  <hr class="dashed" />
<% end %>