<% if @questions_count > 0 %>
  <section id="content-full">
    <h1>Параметры тестирования</h1>
    <div class="center-box">
      <%= form_for @session do |f| %>
        <%= f.errors %>
        <fieldset>
          <div class="clearfix">
            <section class="col-1-2">
              <div class="field">
                <%= f.label :questions_count, "Количество вопросов (макс: #{@questions_count})" %>
                <%= f.text_field :questions_count, value: @questions_count %>
              </div>
              <div class="field">
                <%= f.label :time_per_student, "Время на прохождение (в минутах)" %>
                <%= f.text_field :time_per_student, value: 20 %>
              </div>
              <div class="field">
                <%= f.label nil, "Группы" %>
                <div id="test-session-group-fields">
                  <%= f.fields_for :groups_array do |grf| %>
                    <div class="test-session-group-field">
                      <%= grf.collection_select nil, Group.all, :id, :name, {},
                        {id: :test_session_group, class: 'width-95p' }
                      %>
                      <span class="remove-group-select pointer">[x]</span>
                    </div>
                  <% end %>
                </div>
                <span class="link dashed" id="add_group_field">Добавить группу</span>
              </div>
              <div class="field">
                <%= f.label :session_length, "Длина сессии (в минутах)" %>
                <%= f.text_field :session_length, value: 180 %>
              </div>
            </section>
            <section class="col-1-2">
              <div class="field">
                <%= f.label :secret_code, "Секретный код (пароль) (необязательно)" %>
                <%= f.text_field :secret_code %>
                <span class="link dashed" id="generate_code">Сгенерировать код</span>
              </div>
              <div class="field">
                <%= f.label :description, "Описание (необязательно)" %>
                <%= f.text_field :description %>
              </div>
              <div class="field">
                <%= f.label :max_points, "Макс. количество баллов за тест (необязательно)" %>
                <%= f.text_field :max_points, value: 0 %>
              </div>
            </section>
          </div>
          <hr />
          <section class="col-full">
            <div class="field inline">
              <%= f.check_box :use_partially_correct_answers, checked: true %>
              <%= f.label :use_partially_correct_answers, "Использовать частично правильные ответы" %>
            </div>
            <div class="field inline">
              <%= f.check_box :report_correct_status %>
              <%= f.label :report_correct_status, "Сообщать о правильности ответов" %>
            </div>
            <div class="field inline">
              <%= f.check_box :mark_partially_as_valid, checked: true %>
              <%= f.label :mark_partially_as_valid,
                "Интерпретировать частично верные ответы как правильные (только при подсчете количества правильных / неправильных ответов)"
              %>
            </div>
          </section>
          <%= f.submit "Открыть для тестирования" %>
        </fieldset>
      <% end %>
    </div>
  </section>
<% else %>
  <div class="message error">В данном тесте отсутствуют вопросы, поэтому использование его для тестирования недопустимо</div>
  <%= link_to "Назад к списку тестов", :tests, class: 'btn' %>
<% end %>