<section id="content-full">
  <h1>Статус прохождения теста</h1>
  <% if @attempt.nil? %>
    <div class="message error">Нет данных про данного студента. Возможно данный студент ещё не начал прохождение теста</div>
  <% else %>
    <h2>Информация о прохождении</h2>
    <p><b>Студент:</b> <%= @attempt.student.fullname %></p>
    <p><b>Тест:</b> <%= @attempt.test_session.test.title %></p>
    <p><b>Приватный ключ:</b> <%= @attempt.private_key %></p>
    <p><b>Статус прохождения:</b> <%= @attempt.completed? ? 'завершен' : 'не завершен' %></p>
    <p><b>Статус теста:</b> <%= @attempt.active? ? 'активен' : 'неактивен' %></p>
    <hr />

    <h2>Статистика</h2>
    <p><b>Правильность ответов:</b> <%= @attempt.in_percent %>%</p>
    <hr />

    <h2>Статистика по вопросам</h2>
    <% @questions.each do |qs| %>
      <li>
        <p><b>Текст вопроса:</b> <%= qs.question.text %></p>
        <% if qs.is_answered %>
          <% if qs.correctness_level == 1.0 %>
            <p class="green">Был дан верный ответ</p>
          <% elsif qs.correctness_level == 0.0 %>
            <p class="red">Был дан неверный ответ</p>
          <% else %>
            <p class="orange">Был дан частично верный ответ (<%= (qs.correctness_level * 100).round(2) %>%)</p>
          <% end %>
        <% else %>
          <p>Да данный вопрос ещё нет ответа</p>
        <% end %>
      </li>
    <% end %>
    <hr />

    <h2>Информация о тесте</h2>
    <p><b>Всего вопросов в тесте:</b> <%= @attempt.test_session.test.questions.count %></p>
    <p><b>Теги:</b> <%= @attempt.test_session.test.tags_str %></p>
    <p><b>Создан:</b> <%= @attempt.test_session.test.created_at %></p>
  <% end %>

  <%= link_to "назад к списку студентов", session_watch_path(params[:id]), class: 'btn' %>
  <%= link_to "Отчет в формате PDF", session_report_path(params[:id], params[:student_id], format: :pdf), class: 'btn' %>
</section>