<section id="content">
  <h1>Управление пользователями</h1>
  <table class="width-100p">
    <tr>
      <th>Логин</th>
      <th>Назначенные разрешения</th>
      <th>Действия</th>
    </tr>
    <% @users.each do |user| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td><b><%= link_to user.login, admin_user_path(user) %></b></td>
        <td>
          <ul>
            <% user.permissions.each do |p| %>
              <li><%= t("userPermissions.#{p}") %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <div>
            <%= image_tag 'user_edit.png' %>
            <%= link_to "редактировать", edit_admin_user_path(user) %>
          </div>
          <div>
            <% if current_user != user %>
              <%= image_tag 'user_delete.png' %>
              <%= link_to "удалить", admin_user_path(user), method: 'delete', confirm: "Вы действительно хотите удалить данного пользователя?" %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
  <%= link_to "Добавить нового пользователя", :new_admin_user, class: 'btn' %>
</section>

<%= render partial: 'admin/sidebar' %>