<section id="content">
  <div class="center-box">
    <h1>Редактирование теста</h1>
    <% @test.questions.each.with_index(1) do |question, iter| %>
        <%= form_tag test_question_path(@test, question), method: 'put', id: "question-#{iter}", remote: true do %>
          <%= hidden_field_tag :type, question.type %>
          <fieldset style='background-color: #eee;'>
            <legend>Вопрос #<%= iter %></legend>
            <div class="field">
              <%= label_tag :text, "Текст вопроса" %> 
              <%= text_area_tag :text, question.text %>
            </div>
            <%= render partial: "tests/question_partials/#{question.type}",
              locals: {question: question}
            %>
          </fieldset>
        <% end %>
    <% end %>
  </div>
</section>

<aside>
  <h1>Список вопросов</h1>
  <ul>
    <% 1.upto(@test.questions.count) do |i| %>
      <li><%= link_to "Вопрос #{i}", "#question-#{i}" %></li>
    <% end %>
  </ul>
</aside>