<section id="content">
  <div class="center-box">
    <h1>Редактирование теста</h1>
    <%= render partial: 'question', collection: @test.questions %>
    <div id="variant-type-onechoice" class="empty-variant hidden">
      <div class="field">
        <%= radio_button_tag 'question[answer]', -1, false, class: 'dynamic' %>
        <%= text_field_tag "question[variants][-1]", '', class: 'width-90p dynamic' %>
        <span class="remove-question-variant mini">[x]</span>
      </div>
    </div>
    <div id="variant-type-multiplechoice" class="empty-variant hidden">
      <div class="field">
        <%= check_box_tag 'question[answer][]', -1, false, class: 'dynamic' %>
        <%= text_field_tag "question[variants][-1]", '', class: 'width-90p dynamic' %>
        <span class="remove-question-variant mini">[x]</span>
      </div>
    </div>
  </div>
</section>

<aside style="position: fixed;">
  <h1>Список вопросов</h1>
  <ul>
    <% 1.upto(@test.questions.count) do |i| %>
      <li><%= link_to "Вопрос #{i}", "#question-#{i}" %></li>
    <% end %>
  </ul>
  <hr />
  <button class="mini" id="add-question-simple">Добавить обычный вопрос</button>
  <button class="mini" id="add-question-onechoice">Добавить вопрос с одним ответом</button>
  <button class="mini" id="add-question-multiplechoice">Добавить вопрос с несколькими ответами</button>
</aside>