<!DOCTYPE html>

<html>

  <head>
    <title>RubyHelper</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :head_stylesheets %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">
    <header>
      <div id="project-name">
        <%= link_to "RubyTester", :root, title: "RubyTester [version #{Configuration.app_version}]" %>
      </div>
      <nav>
        <% if logged? %>
          <% if logged_user.can? "admin" %>
            <div class="item"><%= link_to "администрирование", :admin %></a></div>
          <% end %>
          <% if logged_user.can? "manageTests" %>
            <div class="item"><%= link_to "тесты", :tests %></div>
          <% end %>
          <% if logged_user.can? "browseReports" %>
            <div class="item"><%= link_to "отчеты", :reports %></div>
          <% end %>
          <% if logged_user.can? "manageStudents" %>
            <div class="item"><%= link_to "группы и студенты", :groups %></div>
          <% end %>
          <div class="item"><%= link_to "выход", :logout %></a></div>
        <% else %>
          <div class="item"><%= link_to "вход", :login %></div>
        <% end %>
      </nav>
    </header>
    
    <section class="col-full" id="main-container">
      <%= yield %>
    </section>
  </body>

</html>