<!DOCTYPE html>

<html>

  <head>
    <title>RubyTester</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :head_stylesheets %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
  </head>

  <body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">
    <header>
      <div id="project-name">
        <%= link_to "RubyTester", :root, title: "RubyTester [version #{Configuration.app_version}]" %>
      </div>
      <nav>
        <% if logged? %>
          <div class="item"><%= link_to "мой профиль", :my %></a></div>
          <% if current_user.can?('admin') %>
            <div class="item"><%= link_to "пользователи", :admin_users %></a></div>
          <% end %>
          <% if current_user.can?('manageTests') || current_user.can?('useTests') %>
            <div class="item"><%= link_to "тесты", :tests %></div>
          <% end %>
          <% if current_user.can?('browseReports') %>
            <div class="item"><%= link_to "отчеты", :reports %></div>
          <% end %>
          <% if current_user.can?('manageStudents') %>
            <div class="item"><%= link_to "группы и студенты", :groups %></div>
          <% end %>
          <div class="item"><%= link_to "выход", :logout %></a></div>
        <% else %>
          <div class="item"><%= link_to "вход", :login %></div>
        <% end %>
      </nav>
    </header>
    
    <section class="col-full" id="main-container">
      <%= yield %>
    </section>
  </body>

</html>